parameter_defaults:
  CloudDomain: {{ cloud_domain }}
  CloudName: overcloud.{{ cloud_domain }}
  CloudNameInternal: overcloud.internalapi.{{ cloud_domain }}
  CloudNameStorage: overcloud.storage.{{ cloud_domain }}
  CloudNameStorageManagement: overcloud.storagemgmt.{{ cloud_domain }}
  CloudNameCtlplane: overcloud.ctlplane.{{ cloud_domain }}
