export UndercloudFQDN={{ groups['undercloud'][0] }}.{{ cloud_domain }}
export UsingNovajoin=true
export UsingNovajoin=TRUE
export Hostname={{ freeipa_node }}.{{ cloud_domain }}
export FreeIPAIP={{ hostvars[freeipa_node].ansible_eth2.ipv4.address }}
export AdminPassword={{ freeipa_admin_password }}
export HostsSecret={{ freeipa_hosts_secret }}
export DirectoryManagerPassword={{ freeipa_directory_manager_password }}