[project]
	description = Common ansible libraries, filters and modules for the Infrared.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group rhosqeauto-core
[access "refs/for/refs/*"]
	read = group rhosqeauto-core
	push = group rhosqeauto-core
	label-Code-Review = -2..+2 group rhosqeauto-core
	label-Verified = -1..+1 group rhosqeauto-core
	rebase = group rhosqeauto-core
	removeReviewer = group rhosqeauto-core
	submit = group rhosqeauto-core
[access "refs/heads/*"]
	read = group rhosqeauto-core
	create = group rhosqeauto-core
	push = group rhosqeauto-core
	pushMerge = group rhosqeauto-core
[access "refs/tags/*"]
	push = group rhosqeauto-core
